version: '2'
services:
    prove-mariadb:
        container_name: prove-mariadb
        image: mariadb:10.1.17
        # volumes:
        #     - ~/volumes/jhipster/prove/mysql/:/var/lib/mysql/
        environment:
            - MYSQL_USER=root
            - MYSQL_ALLOW_EMPTY_PASSWORD=yes
            - MYSQL_DATABASE=prove
        ports:
            - 3306:3306
